@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
}

html, body {
  font-size: 62.5%;
  font-family: "NanumSquare", sans-serif;
}

@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acL.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acR.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acB.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acEB.otf) format("opentype");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Light.woff2) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Regular.woff2) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Medium.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-SemiBold.woff2) format("woff");
  font-weight: 700;
}
header .head_wrap {
  position: fixed;
  width: 100%;
  height: 101px;
  padding: 0 200px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  transition: all 0.3s;
  z-index: 1000;
}
header .head_wrap .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head_wrap .inner h1 > a {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Poppins";
  color: #000;
  transition: all 0.3s;
  letter-spacing: -0.025em;
}
header .head_wrap .inner > ul {
  display: flex;
  gap: 60px;
}
header .head_wrap .inner > ul > li > a {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  transition: all 0.3s;
  cursor: pointer;
}
header .head_wrap .inner > ul > li > a:hover {
  opacity: 0.5;
}
header .head_wrap .inner .hamberger_btn {
  display: none;
}
header > .active {
  background-color: #272e4e;
  border-color: #fff;
}
header > .active .inner h1 > a {
  color: #fff;
}
header > .active .inner > ul > li > a {
  color: #fff;
}

main {
  position: relative;
  padding-top: 50px;
}
main .home {
  padding: 0 200px;
  background-color: #272e4e;
  line-height: 100px;
}
main .home .inner {
  position: relative;
  top: -100px;
  height: 100%;
}
main .home .inner h2 {
  position: absolute;
  top: 300px;
  margin-bottom: 130px;
  z-index: 10;
}
main .home .inner h2 span {
  font-size: 5em;
  font-weight: 700;
  opacity: 0.5;
  color: #fff;
}
main .home .inner h2 strong {
  display: block;
  font-size: 15rem;
  font-family: "Poppins";
  color: #fff;
  opacity: 1;
}
main .home .inner h2 .name {
  font-size: 3rem;
}
main .home .inner .txt_box {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
}
main .home .inner .txt_box p {
  margin-bottom: 50px;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  opacity: 0.8;
  line-height: 40px;
  text-align: end;
}
main .home .scroll_down {
  display: block;
  position: absolute;
  left: 50%;
  bottom: 100px;
  font-size: 1.6rem;
  color: #fff;
  transform: translateX(-50%);
}
main .home .scroll_down::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 7px;
  height: 7px;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  animation: mouseScroll 1s infinite ease-in-out alternate;
}
@keyframes mouseScroll {
  0% {
    top: 80px;
  }
  100% {
    top: 100px;
  }
}
main .home .scroll_down::after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 50px;
}
main .about {
  padding: 0 200px;
}
main .about h3 {
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.07em;
}
main .about .about_box {
  display: flex;
  justify-content: space-between;
}
main .about .about_box .img_wrap {
  width: 40%;
  border: 1px solid #3c3c3c;
  border-radius: 20px;
  background: url(../assets/img/yunju.jpeg) no-repeat center/cover;
}
main .about .about_box .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}
main .about .about_box .right > strong {
  margin-bottom: 40px;
  font-size: 3.5rem;
}
main .about .about_box .right > p {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 300;
  color: #828282;
  line-height: 35px;
}
main .about .about_box .right > p > span {
  font-weight: 700;
  color: #646464;
}
main .skills {
  margin-bottom: 300px;
}
main .skills .inner {
  width: 100%;
  height: 600px;
  background-color: #272e4e;
}
main .skills .inner h3 {
  margin-bottom: 100px;
  padding: 50px 200px;
  font-size: 5rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: -0.025em;
}
main .skills .inner ul {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}
main .skills .inner ul > li {
  position: relative;
  top: 0;
  margin: auto;
}
main .skills .inner ul > li > p {
  position: absolute;
  top: -60px;
  left: 50%;
  font-size: 4.5rem;
  font-weight: 900;
  color: #fff;
  transform: translateX(-50%);
}
main .skills .inner ul > li .circle-chart {
  width: 200px;
  height: 200px;
  transform: rotate(-90deg);
}
main .skills .inner ul > li .circle-chart .circle-chart__info {
  transform: rotate(90deg) translateY(-33px);
}
main .project {
  padding: 0 200px;
}
main .project h3 {
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  letter-spacing: -0.025em;
}
main .project .swiper .swiper-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 700px;
  padding: 0 130px;
  background-color: #272e4e;
  border-radius: 50px;
}
main .project .swiper .swiper-slide .left_box strong {
  display: block;
  margin-bottom: 40px;
  font-size: 4rem;
  color: #fff;
}
main .project .swiper .swiper-slide .left_box p {
  margin-bottom: 100px;
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  line-height: 20px;
}
main .project .swiper .swiper-slide .left_box dl {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
main .project .swiper .swiper-slide .left_box dl dt {
  font-size: 2rem;
  color: #fff;
}
main .project .swiper .swiper-slide .left_box dl dd {
  font-size: 1.8rem;
  color: #fff;
  opacity: 0.8;
}
main .project .swiper .swiper-slide .left_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 50px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 300;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
}
main .project .swiper .swiper-slide .img_wrap {
  width: 55%;
  border-radius: 20px;
  overflow: hidden;
}
main .project .swiper .swiper-slide .img_wrap img {
  width: 100%;
}
main .project .swiper .swiper-pagination {
  padding-bottom: 10px;
}
main .project .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
main .project .swiper .swiper-button-next {
  padding-right: 30px;
}
main .project .swiper .swiper-button-prev {
  padding-left: 30px;
}
main .project .swiper .swiper-button-next::after,
main .project .swiper .swiper-button-prev::after {
  color: #fff;
}
main .contact {
  padding: 0 200px;
}
main .contact h3 {
  margin-bottom: 50px;
  font-size: 5rem;
  font-weight: 900;
  color: #000;
  letter-spacing: -0.025em;
}
main .contact .inner {
  display: flex;
  justify-content: space-between;
  height: 700px;
  padding: 100px;
  background-color: #272e4e;
  border-radius: 10px;
}
main .contact .inner img {
  width: 45%;
}
main .contact .inner .right {
  position: relative;
}
main .contact .inner .right .num {
  margin-bottom: 50px;
  padding: 30px 30px 30px 150px;
  font-size: 4rem;
  color: #fff;
  background: #3b4676 url(../assets/img/icons8-핸드폰-100.png) no-repeat left 10px center/100px;
  border-radius: 20px;
}
main .contact .inner .right .e-mail {
  display: block;
  padding: 40px 40px 40px 150px;
  font-size: 3.5rem;
  color: #fff;
  background: #3b4676 url(../assets/img/icons8-이메일-100.png) no-repeat left 10px center/100px;
  border-radius: 20px;
}
main .contact .inner .right .finish {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 4rem;
  color: #fff;
}

#fp-nav {
  background-color: #fff;
  border-radius: 50px;
}

@media only screen and (max-width: 2000px) {
  header .head_wrap {
    height: 81px;
  }
  header .head_wrap .inner h1 > a {
    height: 80px;
  }
  header .head_wrap .inner > ul > li > a {
    height: 80px;
  }
  main {
    padding-top: 0;
  }
  main .home .inner h2 {
    top: 220px;
  }
  main .home .inner h2 span {
    font-size: 4rem;
  }
  main .home .inner h2 strong {
    font-size: 13rem;
  }
  main .home .inner .txt_box p {
    margin-bottom: 30px;
    font-size: 1.9rem;
  }
  main .about {
    padding-top: 30px;
  }
  main .about h3 {
    margin-bottom: 30px;
    font-size: 4.5rem;
  }
  main .about .about_box .right > strong {
    font-size: 3rem;
  }
  main .about .about_box .right > p {
    font-size: 2rem;
  }
  main .project {
    padding-top: 30px;
  }
  main .project h3 {
    margin-bottom: 30px;
    font-size: 4.5rem;
  }
  main .project .swiper .swiper-slide {
    height: 600px;
  }
  main .contact {
    padding-top: 30px;
  }
  main .contact h3 {
    margin-bottom: 30px;
    font-size: 4.5rem;
  }
  main .contact .inner {
    height: 600px;
  }
  main .contact .inner .right .num {
    margin-bottom: 40px;
    padding: 30px 30px 30px 130px;
    font-size: 3.5rem;
    background-size: 80px;
  }
  main .contact .inner .right .e-mail {
    margin-bottom: 40px;
    padding: 30px 30px 30px 130px;
    font-size: 3.5rem;
    background-size: 80px;
  }
  main .contact .inner .right .finish {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 1600px) {
  header .head_wrap {
    padding: 0 150px;
  }
  main .home {
    padding: 0 150px;
  }
  main .home .inner h2 span {
    font-size: 3.5rem;
  }
  main .home .inner h2 strong {
    font-size: 12rem;
  }
  main .home .inner h2 .name {
    font-size: 2rem;
  }
  main .home .inner .txt_box p {
    margin-bottom: 30px;
    font-size: 1.65rem;
    line-height: 32px;
  }
  main .about {
    padding: 30px 150px 0;
  }
  main .about .about_box .right > strong {
    font-size: 3rem;
  }
  main .about .about_box .right > p {
    margin-bottom: 15px;
  }
  main .skills .inner h3 {
    padding: 50px 150px;
  }
  main .skills .inner ul {
    padding: 0 150px;
  }
  main .project {
    padding: 30px 150px 0;
  }
  main .project .swiper .swiper-slide {
    height: 600px;
    padding: 0 100px;
  }
  main .project .swiper .swiper-slide .left_box strong {
    margin-bottom: 30px;
    font-size: 3.5rem;
  }
  main .project .swiper .swiper-slide .left_box p {
    margin-bottom: 80px;
    font-size: 1.7rem;
  }
  main .project .swiper .swiper-slide .left_box a {
    width: 100px;
    height: 40px;
    font-size: 1.5rem;
  }
  main .contact {
    padding: 30px 150px 0;
  }
  main .contact .inner {
    height: 600px;
    padding: 60px;
  }
  main .contact .inner .right .num {
    margin-bottom: 30px;
    padding: 25px 25px 25px 110px;
    font-size: 3rem;
    background-size: 70px;
  }
  main .contact .inner .right .e-mail {
    margin-bottom: 40px;
    padding: 25px 25px 25px 110px;
    font-size: 3rem;
    background-size: 70px;
  }
  main .contact .inner .right .finish {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1400px) {
  header .head_wrap {
    padding: 0 100px;
  }
  main .home {
    padding: 0 100px;
  }
  main .home .inner .txt_box p {
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 30px;
  }
  main .about {
    padding: 30px 100px 0;
  }
  main .about .about_box .right > strong {
    font-size: 2.5rem;
  }
  main .about .about_box .right > p {
    font-size: 1.6rem;
    line-height: 28px;
  }
  main .skills .inner h3 {
    padding: 50px 100px;
  }
  main .skills .inner ul {
    padding: 0 100px;
  }
  main .project {
    padding: 30px 100px 0;
  }
  main .project .swiper .swiper-slide {
    padding: 0 70px;
  }
  main .contact {
    padding: 30px 100px 0;
  }
  main .contact .inner {
    padding: 40px;
  }
}
@media only screen and (max-width: 1200px) {
  header .head_wrap {
    height: 61px;
    padding: 0 80px;
  }
  header .head_wrap .inner h1 > a {
    height: 60px;
    font-size: 2.5rem;
  }
  header .head_wrap .inner > ul > li > a {
    height: 60px;
    font-size: 1.5rem;
  }
  main .home {
    padding: 0 80px;
  }
  main .home .inner h2 span {
    font-size: 3.2rem;
  }
  main .home .inner h2 strong {
    font-size: 10.2rem;
  }
  main .home .inner .txt_box p {
    font-size: 1.5rem;
    line-height: 28px;
  }
  main .home .scroll_down {
    font-size: 1.5rem;
  }
  main .home .scroll_down::before {
    width: 5px;
    height: 5px;
  }
  main .home .scroll_down::after {
    width: 20px;
    height: 45px;
  }
  main .about {
    padding: 30px 80px 0;
  }
  main .about h3 {
    font-size: 3.5rem;
  }
  main .about .about_box .right > strong {
    font-size: 2.2rem;
  }
  main .about .about_box .right > p {
    font-size: 1.5rem;
  }
  main .skills .inner {
    height: 400px;
  }
  main .skills .inner h3 {
    padding: 50px 80px;
    font-size: 3.5rem;
  }
  main .skills .inner ul {
    padding: 0 80px;
  }
  main .skills .inner ul > li {
    top: -50px;
  }
  main .skills .inner ul > li > p {
    font-size: 3.2rem;
  }
  main .skills .inner ul > li .circle-chart {
    width: 130px;
    height: 130px;
  }
  main .project {
    padding: 30px 80px 0;
  }
  main .project h3 {
    font-size: 3.5rem;
  }
  main .project .swiper .swiper-slide .left_box strong {
    margin-bottom: 20px;
    font-size: 2.7rem;
  }
  main .project .swiper .swiper-slide .left_box p {
    margin-bottom: 40px;
    font-size: 1.5rem;
  }
  main .project .swiper .swiper-slide .left_box dl {
    margin-bottom: 10px;
    gap: 10px;
  }
  main .project .swiper .swiper-slide .left_box dl dt {
    font-size: 1.7rem;
  }
  main .project .swiper .swiper-slide .left_box dl dd {
    font-size: 1.5rem;
  }
  main .project .swiper .swiper-slide .left_box a {
    width: 80px;
    height: 40px;
    margin-top: 20px;
    font-size: 2rem;
  }
  main .contact {
    padding: 30px 80px 0;
  }
  main .contact .inner {
    padding: 40px;
  }
  main .contact .inner img {
    width: 50%;
  }
  main .contact .inner .right .num {
    font-size: 2.2rem;
    background-size: 60px;
  }
  main .contact .inner .right .e-mail {
    font-size: 2.2rem;
    background-size: 60px;
  }
  main .contact .inner .right .finish {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  header .head_wrap {
    padding: 0 20px;
  }
  header .head_wrap .inner ul {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 0 20px;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  header .head_wrap .inner ul:hover {
    opacity: 1;
    visibility: visible;
  }
  header .head_wrap .inner .hamberger_btn {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
  }
  header .head_wrap .inner .hamberger_btn span {
    display: block;
    position: absolute;
    left: 2px;
    width: 20px;
    height: 2px;
    background: #000;
  }
  header .head_wrap .inner .hamberger_btn .top {
    top: 6px;
  }
  header .head_wrap .inner .hamberger_btn .middle {
    top: 12px;
  }
  header .head_wrap .inner .hamberger_btn .bottom {
    top: 18px;
  }
  header .head_wrap .inner .hamberger_btn:hover + ul {
    opacity: 1;
    visibility: visible;
  }
  header .active .inner ul {
    background-color: #272e4e;
    border-color: #fff;
  }
  header .active .inner .hamberger_btn span {
    background-color: #fff;
  }
  main .home {
    padding: 30px 20px 20px;
    margin-bottom: 50px;
  }
  main .home .inner {
    position: static;
    padding-top: 20px;
  }
  main .home .inner h2 {
    position: static;
    margin-bottom: 100px;
  }
  main .home .inner .txt_box {
    position: static;
    width: 100%;
  }
  main .home .inner .txt_box p {
    text-align: left;
  }
  main .home .scroll_down {
    display: none;
  }
  main .about {
    padding: 30px 20px 0;
    margin-bottom: 50px;
  }
  main .about .about_box {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  main .about .about_box .img_wrap {
    height: 200px;
  }
  main .about .about_box .right {
    width: 100%;
  }
  main .about .about_box .right > strong {
    text-align: center;
  }
  main .about .about_box .right > p {
    margin-bottom: 10px;
    text-align: center;
  }
  main .skills {
    margin-bottom: 50px;
  }
  main .skills .inner h3 {
    padding: 40px 20px;
  }
  main .skills .inner ul {
    padding: 0 20px;
  }
  main .project {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  main .project .swiper .swiper-slide {
    flex-direction: column-reverse;
    padding: 20px 0;
  }
  main .project .swiper .swiper-slide .left_box strong {
    margin-bottom: 20px;
  }
  main .project .swiper .swiper-slide .left_box p {
    margin-bottom: 30px;
  }
  main .project .swiper .swiper-slide .left_box dl {
    margin-bottom: 20px;
  }
  main .project .swiper .swiper-slide .left_box a {
    position: relative;
    left: 50%;
    margin: 30px 0 25px;
    transform: translateX(-50%);
  }
  main .contact {
    margin-bottom: 50px;
    padding: 0 20px;
  }
  main .contact .inner {
    flex-direction: column;
    justify-content: flex-start;
  }
  main .contact .inner img {
    width: 50%;
    height: 50%;
  }
  main .contact .inner .right {
    padding-top: 30px;
  }
  main .contact .inner .right .finish {
    left: 0;
    bottom: -20px;
  }
}
@media only screen and (max-width: 640px) {
  main .fp-section {
    height: auto !important;
  }
  main .fp-section .fp-tableCell {
    height: auto !important;
  }
  main .home .inner h2 {
    margin-bottom: 30px;
  }
  main .home .inner h2 span {
    font-size: 2.2rem;
  }
  main .home .inner h2 strong {
    font-size: 4.7rem;
    line-height: 0;
  }
  main .home .inner .txt_box p {
    font-size: 1.2rem;
  }
  main .about h3 {
    font-size: 2.5rem;
  }
  main .about .about_box .img_wrap {
    width: 90%;
  }
  main .about .about_box .right > strong {
    font-size: 1.7rem;
  }
  main .about .about_box .right > p {
    font-size: 1.3rem;
  }
  main .skills .inner {
    height: auto;
  }
  main .skills .inner h3 {
    font-size: 2.5rem;
  }
  main .skills .inner ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
  main .skills .inner ul > li p {
    font-size: 2.5rem;
  }
  main .skills .inner ul > li .circle-chart {
    width: 100px;
    height: 100px;
  }
  main .project h3 {
    font-size: 2.5rem;
  }
  main .project .swiper {
    height: auto;
  }
  main .project .swiper .swiper-slide {
    justify-content: space-around;
  }
  main .project .swiper .swiper-slide .left_box {
    padding: 0 20px;
  }
  main .project .swiper .swiper-slide .left_box strong {
    font-size: 2rem;
  }
  main .project .swiper .swiper-slide .img_wrap {
    width: 90%;
    margin-bottom: 20px;
  }
  main .project .swiper .swiper-button-next {
    display: none;
  }
  main .project .swiper .swiper-button-prev {
    display: none;
  }
  main .contact h3 {
    font-size: 2.5rem;
  }
  main .contact .inner {
    height: auto;
    padding: 20px;
  }
  main .contact .inner img {
    width: 100%;
  }
  main .contact .inner .right .num {
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;
    font-size: 1.2rem;
    background-size: 25px;
  }
  main .contact .inner .right .e-mail {
    padding: 10px 10px 10px 40px;
    font-size: 1.2rem;
    background-size: 25px;
  }
  main .contact .inner .right .finish {
    bottom: 5px;
    font-size: 1.5rem;
  }
}