@font-face {
  font-family: "NanumSquareRound";
  src: url(../../assets/font/NanumSquareRoundOTFL.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../../assets/font/NanumSquareRoundOTFR.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../../assets/font/NanumSquareRoundOTFB.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(../../assets/font/NanumSquareRoundOTFEB.otf) format("opentype");
  font-weight: 900;
}