@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acL.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acR.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acB.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url(../../assets/font/NanumSquareOTF_acEB.otf) format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Light.woff2) format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Regular.woff2) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-Medium.woff2) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins-SemiBold.woff2) format("woff");
  font-weight: 700;
}