@import "common";
@import "font";

// -------------- header (S) ---------------
header{
  .head_wrap{
    position: fixed;
    width: 100%;
    height: 101px;
    padding: 0 200px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    transition: all .3s;
    z-index: 1000;
    .inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1{
        >a{
          display: flex;
          align-items: center;
          height: 100px;
          font-size: 3.2rem;
          font-weight: 700;
          font-family: "Poppins";
          color: #000;
          transition: all .3s;
          letter-spacing: -0.025em;
        }
      }
      >ul{
        display: flex;
        gap: 60px;
        >li{
          >a{
            display: flex;
            align-items: center;
            height: 100px;
            font-size: 2rem;
            font-weight: 700;
            color: #000;
            transition: all .3s;
            cursor: pointer;
            &:hover{
              opacity: .5;
            }
          }
        }
      }
      .hamberger_btn{
        display: none;
      }
    }
  }
  >.active{
    background-color: #272e4e;
    border-color: #fff;
    .inner{
      h1{
        >a{
          color: #fff;
        }
      }
      >ul{
        >li{
          >a{
            color: #fff;
          }
        }
      }
    }
  }
}
// -------------- header (E) ---------------
// -------------- main (S) ---------------
main{
  position: relative;
  padding-top: 50px;
  // --------- home (S) ---------
  .home{
    padding:0 200px;
    background-color: #272e4e;
    line-height: 100px;
    .inner{
      position: relative;
      top: -100px;
      height: 100%;
      h2{
        position: absolute;
        top: 300px;
        margin-bottom: 130px;
        z-index: 10;
        span{
        font-size: 5em;
        font-weight: 700;
        opacity: .5;
        color: #fff;
        }
        strong{
          display: block;
          font-size: 15rem;
          font-family: "Poppins";
          color: #fff;
          opacity: 1;
        }
        .name{
          font-size: 3rem;
        }
      }
      .txt_box{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        p{
          margin-bottom: 50px;
          font-size: 2.4rem;
          font-weight: 500;
          color: #fff;
          opacity: .8;
          line-height: 40px;
          text-align: end;
        }
      }
    }
    .scroll_down{
      display: block;
      position: absolute;
      left: 50%;
      bottom: 100px;
      font-size: 1.6rem;
      color: #fff;
      transform: translateX(-50%);
      &::before{
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 7px;
        height: 7px;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        animation: mouseScroll 1s infinite ease-in-out alternate;
      }
      @keyframes mouseScroll{
        0%{
          top: 80px;
        }
        100%{
          top: 100px;
        }
      }
      &::after{
        content: "";
        display: block;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        width: 30px;
        height: 60px;
        border: 2px solid #fff;
        border-radius: 50px;
      }
    }
  }
  // --------- home (E) ---------
  // --------- about (S) ---------
  .about{
    padding: 0 200px;
    h3{
      margin-bottom: 50px;
      font-size: 5rem;
      font-weight: 900;
      letter-spacing: -0.07em;
    }
    .about_box{
      display: flex;
      justify-content: space-between;
      .img_wrap{
        width: 40%;
        border: 1px solid #3c3c3c;
        border-radius: 20px;
        background: url(../../assets/img/yunju.jpeg) no-repeat center/cover;
      }
      .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        >strong{
          margin-bottom: 40px;
          font-size: 3.5rem;
        }
        >p{
          margin-bottom: 20px;
          font-size: 2.5rem;
          font-weight: 300; 
          color: #828282;
          line-height: 35px;
          >span{
            font-weight: 700;
            color: #646464;
          }
        }
      }
    }
  }
  // --------- about (E) ---------
  // --------- skills (S) ---------
  .skills{
    margin-bottom: 300px;
    .inner{
      width: 100%;
      height: 600px;
      background-color: #272e4e;
      h3{
        margin-bottom: 100px;
        padding: 50px 200px;
        font-size: 5rem;
        font-weight: 900;
        color: #fff;
        letter-spacing: -0.025em;
      }
      ul{
        display: flex;
        justify-content: space-between;
        padding: 0 200px;
        >li{
          position: relative;
          top: 0;
          margin: auto;
          >p{
            position: absolute;
            top: -60px;
            left: 50%;
            font-size: 4.5rem;
            font-weight: 900;
            color: #fff;
            transform: translateX(-50%);
          }
          .circle-chart{
            width: 200px;
            height: 200px;
            transform: rotate(-90deg);
            .circle-chart__info{
              transform: rotate(90deg) translateY(-33px);
            }
          }
        }
      }
    }
  }
  // --------- skills (E) ---------
  // --------- project (S) ---------
  .project{
    padding: 0 200px;
    h3{
      margin-bottom: 50px;
      font-size: 5rem;
      font-weight: 900;
      color: #000;
      letter-spacing: -0.025em;
    }
    .swiper{
      .swiper-slide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 700px;
        padding: 0 130px;
        background-color: #272e4e;
        border-radius: 50px;
        .left_box{
          strong{
            display: block;
            margin-bottom: 40px;
            font-size: 4rem;
            color: #fff;
          }
          p{
            margin-bottom: 100px;
            font-size: 2rem;
            font-weight: 300;
            color: #fff;
            opacity: .8;
            line-height: 20px;
          }
          dl{
            display: flex;
            gap: 30px;
            margin-bottom: 20px;
            dt{
              font-size: 2rem;
              color: #fff;
            }
            dd{
              font-size: 1.8rem;
              color: #fff;
              opacity: .8;
            }
          }
          a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 50px;
            margin-top: 50px;
            font-size: 2rem;
            font-weight: 300;
            background-color: #fff;
            border: 2px solid #000;
            border-radius: 5px;
          }
        }
        .img_wrap{
          width: 55%;
          border-radius: 20px;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
      .swiper-pagination{
        padding-bottom: 10px;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background-color: #fff;
        }
      }
      .swiper-button-next{
        padding-right: 30px;
      }
      .swiper-button-prev{
        padding-left: 30px;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        color: #fff;
      }
    }
  }
  // --------- project (E) ---------
  // --------- contact (S) ---------
  .contact{
    padding: 0 200px;
    h3{
      margin-bottom: 50px;
      font-size: 5rem;
      font-weight: 900;
      color: #000;
      letter-spacing: -0.025em;
    }
    .inner{
      display: flex;
      justify-content: space-between;
      height: 700px;
      padding: 100px;
      background-color: #272e4e;
      border-radius: 10px;
      img{
        width: 45%;
      }
      .right{
        position: relative;
        .num{
          margin-bottom: 50px;
          padding: 30px 30px 30px 150px;
          font-size: 4rem;
          color: #fff;
          background: #3b4676 url(../../assets/img/icons8-핸드폰-100.png)no-repeat left 10px center/100px;
          border-radius: 20px;
        }
        .e-mail{
          display: block;
          padding: 40px 40px 40px 150px;
          font-size: 3.5rem;
          color: #fff;
          background: #3b4676 url(../../assets/img/icons8-이메일-100.png)no-repeat left 10px center/100px;
          border-radius: 20px;
        }
        .finish{
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 4rem;
          color: #fff;
        }
      }
    }
  }
  // --------- contact (E) ---------
}
// -------------- main (E) ---------------
#fp-nav{
  background-color: #fff;
  border-radius: 50px;
}

// ---------------- 2000px (S) ------------------
@media only screen and (max-width:2000px){
  header{
    .head_wrap{
      height: 81px;
      .inner{
        h1{
          >a{
            height: 80px;
          }
        }
        >ul{
          >li{
            >a{
              height: 80px;
            }
          }
        }
      }
    }
  }
  main{
    padding-top: 0;
    .home{
      .inner{
        h2{
          top: 220px;
          span{
            font-size: 4rem;
          }
          strong{
            font-size: 13rem;
          }
        }
        .txt_box{
          p{
            margin-bottom: 30px;
            font-size: 1.9rem;
          }
        }
      }
    }
    .about{
      padding-top: 30px;
      h3{
        margin-bottom: 30px;
        font-size: 4.5rem;
      }
      .about_box{
        .right{
          >strong{
            font-size: 3rem;
          }
          >p{
            font-size: 2rem;
          }
        }
      }
    }
    .project{
      padding-top: 30px;
      h3{
        margin-bottom: 30px;
        font-size: 4.5rem;
      }
      .swiper{
        .swiper-slide{
          height: 600px;
        }
      }
    }
    .contact{
      padding-top: 30px;
      h3{
        margin-bottom: 30px;
        font-size: 4.5rem;
      }
      .inner{
        height: 600px;
        .right{
          .num{
            margin-bottom: 40px;
            padding: 30px 30px 30px 130px;
            font-size: 3.5rem;
            background-size: 80px;
          }
          .e-mail{
            margin-bottom: 40px;
            padding: 30px 30px 30px 130px;
            font-size: 3.5rem;
            background-size: 80px;
          }
          .finish{
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}
// ---------------- 2000px (E) ------------------
// ---------------- 1600px (S) ------------------
@media only screen and (max-width:1600px){
  header{
    .head_wrap{
      padding: 0 150px;
    }
  }
  main{
    .home{
      padding: 0 150px;
      .inner{
        h2{
          span{
            font-size: 3.5rem;
          }
          strong{
            font-size: 12rem;
          }
          .name{
            font-size: 2rem;
          }
        }
        .txt_box{
          p{
            margin-bottom: 30px;
            font-size: 1.65rem;
            line-height: 32px;
          }
        }
      }
    }
    .about{
      padding: 30px 150px 0;
      .about_box{
        .right{
          >strong{
            font-size: 3rem;
          }
          >p{
            margin-bottom: 15px;
          }
        }
      }
    }
    .skills{
      .inner{
        h3{
          padding : 50px 150px;
        }
        ul{
          padding: 0 150px;
        }
      }
    }
    .project{
      padding: 30px 150px 0;
      .swiper{
        .swiper-slide{
          height: 600px;
          padding: 0 100px;
          .left_box{
            strong{
              margin-bottom: 30px;
              font-size: 3.5rem;
            }
            p{
              margin-bottom: 80px;
              font-size: 1.7rem;
            }
            a{
              width: 100px;
              height: 40px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    .contact{
      padding: 30px 150px 0;
      .inner{
        height: 600px;
        padding: 60px;
        .right{
          .num{
            margin-bottom: 30px;
            padding: 25px 25px 25px 110px;
            font-size: 3rem;
            background-size: 70px;
          }
          .e-mail{
            margin-bottom: 40px;
            padding: 25px 25px 25px 110px;
            font-size: 3rem;
            background-size: 70px;
          }
          .finish{
            font-size: 3rem;
          }
        }
      }
    }
  }
}
// ---------------- 1600px (E) ------------------
// ---------------- 1400px (S) ------------------
@media only screen and (max-width:1400px){
  header{
    .head_wrap{
      padding: 0 100px;
    }
  }
  main{
    .home{
      padding: 0 100px;
      .inner{
        .txt_box{
          p{
            margin-bottom: 10px;
            font-size: 1.6rem;
            line-height: 30px;
          }
        }
      }
    }
    .about{
      padding: 30px 100px 0;
      .about_box{
        .right{
          >strong{
            font-size: 2.5rem;
          }
          >p{
            font-size: 1.6rem;
            line-height: 28px;
          }
        }
      }
    }
    .skills{
      .inner{
        h3{
          padding : 50px 100px;
        }
        ul{
          padding: 0 100px;
        }
      }
    }
    .project{
      padding: 30px 100px 0;
      .swiper{
        .swiper-slide{
          padding: 0 70px;
        }
      }
    }
    .contact{
      padding: 30px 100px 0;
      .inner{
        padding: 40px;
      }
    }
  }
}
// ---------------- 1400px (E) ------------------
// ---------------- 1200px (S) ------------------
@media only screen and (max-width:1200px){
  header{
    .head_wrap{
      height: 61px;
      padding: 0 80px;
      .inner{
        h1{
          >a{
            height: 60px;
            font-size: 2.3rem;
          }
        }
        >ul{
          >li{
            >a{
              height: 60px;
              font-size: 1.3rem;
            }
          }
        }
      }
    }
  }
  main{
    .home{
      padding: 0 80px;
      .inner{
        h2{
          span{
            font-size: 3rem;
          }
          strong{
            font-size: 10rem;
          }
        }
        .txt_box{
          p{
            font-size: 1.3rem;
            line-height: 28px;
          }
        }
      }
      .scroll_down{
        font-size: 1.2rem;
        &::before{
          width: 5px;
          height: 5px;
        }
        &::after{
          width: 20px;
          height: 45px;
        }
      }
    }
    .about{
      padding: 30px 80px 0;
      h3{
        font-size: 3.3rem;
      }
      .about_box{
        .right{
          >strong{
            font-size: 2rem;
          }
          >p{
            font-size: 1.3rem;
          }
        }
      }
    }
    .skills{
      .inner{
        height: 400px;
        h3{
          padding : 50px 80px;
          font-size: 3.3rem;
        }
        ul{
          padding: 0 80px;
          >li{
            top: -50px;
            >p{
              font-size: 3rem;
            }
            .circle-chart{
              width: 130px;
              height: 130px;
            }
          }
        }
      }
    }
    .project{
      padding: 30px 80px 0;
      h3{
        font-size: 3.3rem;
      }
      .swiper{
        .swiper-slide{
          .left_box{
            strong{
              margin-bottom: 20px;
              font-size: 2.5rem;
            }
            p{
              margin-bottom: 40px;
              font-size: 1.3rem;
            }
            dl{
              margin-bottom: 10px;
              gap: 10px;
              dt{
                font-size: 1.5rem;
              }
              dd{
                font-size: 1.3rem;
              }
            }
            a{
              width: 60px;
              height: 30px;
              margin-top: 20px;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
    .contact{
      padding: 30px 80px 0;
      .inner{
        padding: 40px;
        img{
          width: 50%;
        }
        .right{
          .num{
            font-size: 2rem;
            background-size: 60px;
          }
          .e-mail{
            font-size: 2rem;
            background-size: 60px;
          }
          .finish{
            font-size: 2.3rem;
          }
        }
      }
    }
  }
}
// ---------------- 1200px (E) ------------------
// ---------------- 1024px (S) ------------------
@media only screen and (max-width:1024px){
  main{
    .home{
      .inner{
        .txt_box{
          width: 100%;
        }
      }
    }
    .project{
      .swiper{
        .swiper-slide{
          .left_box{
            position: absolute;
            left: 50%;
            bottom: 40px;
            transform: translateX(-50%);  
            strong{
              margin-bottom: 20px;
            }
            p{
              margin-bottom: 30px;
            }
            dl{
              margin-bottom: 20px;
            }
            a{
              position: relative;
              left: 50%;
              margin: 40px 0 20px;
              transform: translateX(-50%); 
            }
          }
          .img_wrap{
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .contact{
      .inner{
        flex-direction: column;
        justify-content: flex-start;
        img{
          height: 50%;
        }
        .right{
          padding-top: 30px;
          .finish{
            left: 0;
            bottom: -20px;
          }
        }
      }
    }
  }
}
// ---------------- 1024px (E) ------------------
// ---------------- 800px (S) ------------------
@media only screen and (max-width:800px){
  header{
    .head_wrap{
      .inner{
        ul{
          flex-direction: column;
          gap: 0;
          position: absolute;
          top: 60px;
          right: 0;
          padding: 0 30px;
          background-color: #fff;
          border: 1px solid #000;
          transition: all .5s;
          opacity: 0;
          visibility: hidden;
          &:hover{
            opacity: 1;
            visibility: visible;
          } 
        }
        .hamberger_btn{
          display: block;
          position: relative;
          width: 24px;
          height: 24px;
          span{
            display: block;
            position: absolute;
            left: 2px;
            width: 20px;
            height: 2px;
            background: #000;
          }
          .top{
            top: 6px;
          }
          .middle{
            top: 12px;
          }
          .bottom{
            top: 18px;
          }
          &:hover + ul{
            opacity: 1;
            visibility: visible;
          } 
        }
      }
    }
    .active{
      .inner{
        ul{
          background-color: #272e4e;
          border-color: #fff;
        }
        .hamberger_btn{
          span{
            background-color: #fff;
          }
        }
      }
    }
  }
  main{
    .home{
      .inner{
        .txt_box{
          p{
            text-align: left;
          }
        }
      }
      .scroll_down{
        display: none;
      }
    }
    .about{
      .about_box{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .img_wrap{
          height: 200px;
        }
        .right{
          width: 100%;
          >strong{
            text-align: center;
          }
          >p{
            margin-bottom: 10px;
            text-align: center;
          }
        }
      }
    }
    .skills{
      .inner{
        height: 700px;
        ul{
          flex-wrap: wrap;
          gap: 80px;
          >li{
            .circle-chart{
              width: 180px;
              height: 180px;
            }
          }
        }
      }
    }

    .contact{
      .inner{
        img{
          width: 80%;
          height: 50%;
        }
      }
    }
  }
}
// ---------------- 800px (E) ------------------
// ---------------- 640px (S) ------------------
@media only screen and (max-width:640px){
  main{
    .project{
      .swiper{
        .swiper-slide{
          .img_wrap{
            width: 75%;
          }
        }
      }
    }
  }
}
// ---------------- 640px (E) ------------------

